/* Обнуление */

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* -------------------- */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Common styles */

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.text {
  color: #B7B6B6;
  font-size: 20px;
}

/* Main Section */

.main-section {
  background: url(/img/background.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.menu__link {
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 50px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 72px);
  padding-bottom: 150px;
}

.main-content__image {
  width: 700px;
  padding-bottom: 50px;
}

.main-content__action {
}

/* Info Section */

.info-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-section-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section-image {
  width: 100%;
  max-width: 900px;
}

.info-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  width: 800px;
}

.info-section-title {
  margin-bottom: 50px;
}

.info-section-content {}

/* Social Section */

.social-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 800px;
}

.social-section-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-section-image {
  width: 100%;
  max-width: 900px;
}

.social-section-link {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.social-section-link img {
  width: 140px;
}

.social-section-title {
  margin-bottom: 50px;
}

.social-section-content {
  padding-bottom: 20px;
}

/* Features Section */

.features-section {
  background: url(/img/background_dragon.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.features-section-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.features-section-content img {
  width: 100%;
  max-width: 140px;
  margin-bottom: 20px;
}

.features-section-title {
  display: flex;
  justify-content: center;
  padding: 200px;
}

/* Title */

.features-section-title h2 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  border-bottom: 4px solid white;
}

/* Atmosphere */

.features-section-atmosphere {
  width: 100%;
  max-width: 500px;
}

.features-section-atmosphere-image {}

.features-section-content h3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.features-section-content p {
  color: white;
  font-size: 20px;
}

/* Online */

.features-section-online {
  width: 100%;
  max-width: 500px;
}

.features-section-online-image {}

/* Team */

.features-section-team {
  width: 100%;
  max-width: 500px;
}

.features-section-team-image {}



